/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
    padding-bottom: 100px;
    color: #fff;
    background-image: url(mini-fire.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

/*
.background-image {
    position: fixed;
    left: 0;
    right: 0;
    width: 1200px;
    height: 800px;
    background-image: url(unite.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}*/
